# Archivos compilados
*.exe
*.o
*.obj
*.out
*.slo
*.lo
*.ilk
*.dll
*.so
*.dylib
*.lib
*.a

# Precompiled Headers
*.gch
*.pch

# Archivos de CodeBlocks
*.cbp
*.depend
*.layout
bin/
obj/

# Debugger Files
*.pdb
*.dwo
*.d

# Prerequisites
*.d

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
*.bat

# Archivos del sistema
.DS_Store
Thumbs.db
